
{% extends 'writer/navbar.html' %}

{% block content %}

<br>
<div class="container bg-white shadow-md p-5 form-layout" >
  <h3>Delete Writer Account </h3>
  <hr>
  <br>
  <p class="text-center" >Are you sure you want to delete your account?</p>
  <form method="POST" autocomplete="off">
    {% csrf_token %}

    <input class="btn btn-danger w-100 mb-3" type="submit" value="Delete Account">
  </form>

  <br>

  <a href="{% url 'writer-dashboard' %}"  type="submit">Return to dashboard</a>


</div>
{% endblock %} 