
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <title>Email Sent</title>
</head>
<body>

  <div class="container bg-white shadow-md p-5 form-layout mt-5 ">
    <h4> Email Verification Sent! <h4>
      <hr>
    <p>
      A verification link was sent to your email. Please be sure to approve it.
      
    </p>
  </div>

</body>
</html>





