
{% load static %}

{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <title>Password Reset Form!</title>
</head>
  <body>
    
    <div class="container bg-white shadow-md p-5 form-layout mt-5 ">
      <h3>Enter New Password</h3>
      <hr>
      
      <p>
        Please enter in your new password twice so that we can verify that you typed it in correctly
      </p>
      
      <form action="" method="POST">
      
        {% csrf_token %}
      
        {{form|crispy}}

      <div>
        <input class="btn btn-success w-100" type="submit" name="Update Password">
      </div>
      
      </form>
    
    </div>
  </body>
</html>