
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <title>Password Reset Sent</title>
</head>
  <body>
    
    <div class="container bg-white shadow-md p-5 form-layout mt-5 ">
      <h3>Password Reset Link Sent!</h3>
      <p>
        Sent link to reset your password to your email. Thanks
      </p>

    </div>
  </body>
</html>