
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <title>Password Reset Complete</title>
</head>
  <body>
    
    <div class="container bg-white shadow-md p-5 form-layout mt-5 ">
      <h3>Password Reset Complete</h3>
      <hr>
      <p>
        Your password has been reset.
      </p>
      <p>You may now login to your account with your new Password</p>
      
      <div>
        <a class="btn btn-success w-100" href="{% url 'my-login' %}">Proceed to Login</a>
      </div>
    </div>
  </body>
</html>
